<p id="back"><%= link_to "Back", restaurants_url %></p>

<div class="container" id="title">
<h1>Sign up!</h1>
</div >

<div class="container" id="form">
<%= form_for @user do |f| %>
<%if @user.errors.any? %>
    <div class= "error_messages">
      <h2>  Missing infomation </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <% end %>

<%= form_for @user do |f| %>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.text_field :email %></br>
    </div>

    <div class= "field">
      </br><%= f.label :first_name %><br/>
      <%= f.text_field :first_name %></br>
    </div>

    <div class = "field">
      </br><%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
    </div>

    <div class ="field">
      </br><%= f.label :phone_number %><br/>
      <%= f.text_field :phone_number %>
    </div>

    <div class="field">
     </br><%= f.label :password %><br/>
     <%= f.password_field :password %>
   </div>

   <div class="field">
     </br><%= f.label :password_confirmation %><br/>
     <%= f.password_field :password_confirmation %>
   </div>

   <div class="actions">
     </br><%= f.submit %>
  </div>
<% end %>
</div>
