<p id="back"><%= link_to "Back", restaurants_url %></p>

<div class="my-profile-title">
  <h1>My Profile</h1>
</div>

<div class="container" id="user-content">
  <div class="container" id="user-info">
    <table>
      <colgroup>
        <col width="10%">
        <col width="15%">
      </colgroup>
      <tr>
        <td>Name:</td>
        <td><%= current_user.first_name %> <%= current_user.last_name %></td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td><%= current_user.phone_number %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= current_user.email %></td>
      </tr>

      <tr>
        <td> is owner:</td>
        <td><%= current_user.is_owner %></td>
      </tr>

          <li> My restaurants </li>
        <% current_user.owned_restaurants.each do |restaurant| %>
        <li><%= restaurant.name %></li>
        <% end %>

  </table>
  </div>

  <div class="container" id="user-reservations">
      <h2>My Reservations:</h2>
       <% current_user.reservations.each do |reservation| %>
          <ul>
            <li><%= reservation.restaurant.name %></li>
            <li><%= reservation.date %> - <%= reservation.time %></li>
            <li>Party of <%=reservation.party_size %></li>
          </ul>
          <% if current_user %>
            <%= link_to "Delete", reservation_path(reservation.id), method: :delete, data: {confirm:  "Are you sure you want to delete this reservation?"} %>
          <% end %>
        <% end %>
  </div>
</div>
