<nav class="navbar navbar-inverse" role="navigation">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">Seat<i>Yourself</i>
        </a>
    </div>
    <div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/restaurants">Home</a>
            </li>
            <% if current_user %>
            <li>
                <a href="">Signed in as
                    <%= current_user.email %></a>
            </li>
            <li>
                <a href="">|</a>
            </li>
            <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>
        <% else %>
            <li><%= link_to "Log in", new_session_path %>
                or
                <%= link_to "Sign up", new_user_path %></li>
            <% end %>
            <li>
                <% if current_user %>
                <%= link_to "My Profile", user_path(:id) %>
                <% end %>
            </li>
        </ul>
    </div>
</nav>

<div class="reservations-page">
    <h1 style="text-align: left; margin-left: 20px; margin-bottom: 20px; text-decoration: underline">My Profile:</h1>

    <div class="container">
        <table class="table" id="profile">

            <tr>
                <td>Name:</td>
                <td><%= current_user.first_name %>
                    <%= current_user.last_name %></td>
            </tr>

            <tr>
                <td>Phone Number:</td>
                <td><%= current_user.phone_number %></td>
            </tr>

            <tr>
                <td>Email:</td>
                <td><%= current_user.email %></td>
            </tr>

            <tr>
                <td>
                    Owner?</td>
                <td><%= current_user.is_owner %></td>
            </tr>
        </table>
    </div>

  <div id="my-restaurants">
    <h4>My Restaurants:</h4>
    <% current_user.owned_restaurants.each do |restaurant| %>
    <li><%= restaurant.name %></li>
    <% end %>
</div>

<div id="my-reservations">
<h4>My Reservations:</h4>
<% current_user.reservations.each do |reservation| %>
  <ul>
    <li><%= reservation.restaurant.name %></li>
    <li><%= reservation.date %> <%= reservation.time %></li>
    <li>Party of <%=reservation.party_size %></li>
    <li></br><% if current_user %>
      <%= link_to "Delete Reservation", reservation_path(reservation.id), method: :delete, data: {confirm:  "Are you sure you want to delete this reservation?"} %></li>
    <% end %>
  <% end %>
  </ul>
</div>
>>>>>>> enter-bootstrap
