<div class="container" id="title">
  <h1>Seat<i>Yourself</i></h1>
</div>

<<<<<<< HEAD
<div class="restaurants-list">
=======
<nav>
  <ul>
    <li><p><a href="restaurants/index">Home</p></a></li>
    <li><p><a href="user/index">My profile</p></a></li>
  </ul>
</nav>

<div id="content">

<div id="page-title"> <h1>Seat<i>Yourself</i></h1> </div>
<div id="page-subtitle"> <h2>All Restaurants:</h2> </div>


<div class="restaurant-list">
  <!-- <table align="center"> -->
>>>>>>> creating_user_view
  <table>
  <colgroup>
    <col width="500px">
    <col width="500px">
    <col width="600px">
  </colgroup>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td> <a href="restaurants/<%=restaurant.id%>"><img src="http://placekitten.com/300/350" style="padding-bottom: 10px"></a> </td>
      <td> <a href="restaurants/<%=restaurant.id%>"><h2 id="rest-name"><%= "#{restaurant.name}" %></h2></a></td>
      <td><p><%= "#{restaurant.address}" %> </p><p> <%= "#{restaurant.phone_number}" %></p></td>
   </tr></br>
   <% end %>
  </table>
  </div>
</div>
