<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Seat<i>Yourself</i></a>
    </div>
  <div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/restaurants">Home</a></li>
        <% if current_user %>
        <li><a href="">Signed in as <%= current_user.email %></a></li>
        <li><a href="">|</a></li>
        <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %></li>
        <% end %>

      <li>
        <% if current_user %>
          <%= link_to "My Profile", user_path(:id) %>
        <% end %>
      </li>
    </ul>
</div>
</nav>


<div class="restaurant-show">

  <div class="container">
    <h1><%= "#{@restaurant.name}" %></h1>
    <h2><%= link_to "Make a Reservation!", new_restaurant_reservation_url( @restaurant.id )%></h2>
    <table class="table">
    <tr>
        <td><img src="http://elrestaurante.com/downloads/756/download/bitblt-640xNone-62948b14a3b4192e529d5aa419e0002a1e776b5e/LambCampechenaTacos.png?cb=706fc1b8f60098200302bfff3101eef7"></td>
        <td id="rest-contact-info">
        <h3><%= "#{@restaurant.address}" %></h3>
        <h3><%= "#{@restaurant.phone_number}" %></h3></td>
    </tr>
    </table></br></br>
  </div>

  <div class="container" id="reviews">
  <h2>Reviews for <%= @restaurant.name %>:</h2>
  <% @restaurant.reviews.order(:created_at).reverse.each do |review| %>
    <p>
      <%= review.comment %></br>Rating: <%= review.rating %>

      <% if review.user != nil %>
      <em> </br>by <%= review.user.first_name %> </em>
    </br>Added on: <%= review.created_at %>
      <% end %>
      </p>
      <% end %>


    <% if current_user %>

    <%= form_for([@restaurant, @new_review]) do | f | %>
      <% if @new_review.errors.any? %>
        <h2><%= pluralize( @new_review.errors.count, "error" ) %>
            prohibited this review from being saved:</h2>
        <ul>
            <% @new_review.errors.full_messages.each do | msg | %>
            <li>
                <% msg %>
            </li>
            <% end %>
        </ul>
      <% end %>
      <p></br></br>
          <%= f.label :comment %></p>
          <p><%= f.text_area :comment %></br>

      </p>

      <p>
        <%= f.radio_button(:rating , 1) %>
        <%= f.label(:rating , "1") %>
        <%= f.radio_button(:rating , 2) %>
        <%= f.label(:rating , "2") %>
        <%= f.radio_button(:rating , 3) %>
        <%= f.label(:rating ,"3") %>
        <%= f.radio_button(:rating , 4) %>
        <%= f.label(:rating, "4") %>
        <%= f.radio_button(:rating, 5) %>
        <%= f.label(:rating, "5" ) %>
      </p></br>

      <p>
          <%= f.submit %>
      </p>
    <% end %>
    <% else %>
    <p>
        Please
        <%= link_to "log in", new_session_path %>
        to add a review.
    </p>
  <% end %>
</div>
