  <!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/restaurants">Home</a></li>
        <li class="userinfo">
          <% if current_user %>
            Signed in as <%= current_user.email %> |  <%= link_to "Log out", session_path("current"), :method => :delete %>
          <% else %>
            <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
          <% end %></li>

        <li id="my-profile">
          <% if current_user %>
            <%= link_to "My Profile", user_path(:id) %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="container" id="title">
    <h1>Seat<i>Yourself</i></h1>
  </div>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>

</body>
</html>
